<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lettuce-Eat</title>  
    <link rel="stylesheet" href="css/about.css">
    

    <!-- .................. -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    

    <!-- .............................................. -->
    </head>
    <body>
     <header class="header">
        <div class="logo">
            <img src="img/logo.png" alt=".Lettuce EAt">
		
        </div>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
			<a href="login">Login</a>
        </nav>


		
		
    </header>

  <!-- .....................................................-->
      <section class="container">
        <div class="container-img">
            <img src="css/food1.png">
        </div>
        <div class="container-text">
          <h1>About Us</h1>
          <p>
            ITeria a small café  based here in Gyalposhing College of Information Technology. “Think authentic Bhutan non veg food, and chances are this is where you will land up. Try the set meals starting with hot beverages like hot coffee, going on to serving of snacks like pakora, fried-rice etc.”
          </p>
        
        </div>
        
        
      </section>
      

      <section class="container">
        <div class="container-img">
            <img src="css/food3.png">
            
        </div>
         
        <div class="container-text">
          <h1>Our Mission</h1>
          <p>
            Students and staffs gets busy with their work, so while ordering food during their break times they tend to wait in queue for their orders to arrive which takes times most of the times.  In order to avoid that we came up with this website so we don't have to face those.
          </p>
        
        </div>
        
        
        
        
      </section>
      
      
      
  <!-- .....................................................-->
 
  
      
      
    
      <hr class="line"><br>
      <h1 class="ss">Meet our Team</h1>
      
      <!-- .....................................................-->  
      <div class="container1">
        
        <div class="user-container">    
          <img class="photo img-fluid" src="css/46.png" alt="Photo 1">
          <div class="user-details">
            <h4>Dawa</h4>
            <p>12210046.gcit@rub.edu.bt</p>
            <p>17548438</p>
          </div>
        </div>
        <div class="user-container">
          <img class="photo img-fluid" src="css/25.png" alt="Photo 2">
          <div class="user-details">
            <h4>Pema Chozom</h4>
            <p>12210024.gcit@rub.edu.bt</p>
            <p>77485137</p>
          </div>
        </div>
        <div class="user-container">
          <img class="photo img-fluid" src="css/4.jpg "alt="Photo 3">
          <div class="user-details">
            <h4>Deepak Ghallay</h4>
            <p>12210004.gcit@rub.edu.bt</p>
            <p>77458238</p>
            <p></p>
          </div>
        </div>
        
      </div>
      

      <div class="container1">
        
        <div class="user-container">    
          <img class="photo img-fluid" src="css/51.jpg" alt="Photo 1">
          <div class="user-details">
            <h4>Jigme Seldon</h4>
            <p>12210054.gcit@rub.edu.bt</p>
            <p>17622738</p>
          </div>
        </div>
        <div class="user-container">
          <img class="photo img-fluid" src="css/1.png" alt="Photo 2">
          <div class="user-details">
            <h4>Jamyang Choden </h4>
            <p>developerjamyang.gcit@rub.edu.bt</p>
            <p>17761060</p>
            
          </div>
        </div>
        <div class="user-container">
          <img class="photo img-fluid" src="css/34.png" alt="Photo 3">
          <div class="user-details">
            <h4>Tapash Rai</h4>
            <p>12210034.gcit@rub.edu.bt</p>
            <p>17952544</p>
          </div>
        </div>
      </div>

      <!-- .....................................................-->  
      <!-- <div class="container1">
        
        <div class="user-container">    
          <img class="photo img-fluid" src="css/4.jpg" alt="Photo 1">
          <div class="user-details">
            <h4>Deepak Ghalley</h4>
            <p>12210004.gcit@rub.edu.bt</p>
            <p>77458238</p>
          </div>
        </div>
        <div class="user-container">
          <img class="photo img-fluid" src="css/28.jpg" alt="Photo 2">
          <div class="user-details">
            <h4>Rohit Gurung</h4>
            <p>12210048.gcit@rub.edu.bt</p>
            <p>17394529</p>
          </div>
        </div>
        <div class="user-container">
          <img class="photo img-fluid" src="css/34.jpg" alt="Photo 3">
          <div class="user-details">
            <h4>Tapash Rai</h4>
            <p>12210034.gcit@rub.edu.bt</p>
            <p>17952544</p>
          </div>
        </div>
      </div> -->

      
    <!-- .....................................................-->  
      <!-- <div class="icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
      </div> -->
      <footer class="footer">
      <p style="font-weight: bold;" class="p1">Email address:</p><p class="p1"> lettuceeat23@gmail.com</p><br>
      <p style="font-weight: bold" class="p1">Phone Number:</p><p class="p1"> 17952544</p>
      </footer>
    <!-- .....................................................-->
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="js/menu.js"></script>
    <!-- .....................................................-->
    </body>

  </html>
