<!-- EMMET: html:5-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/userstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
    <title>E-Pharmacist</title>

</head>

<body>
    <!-- EMMET: header+content+footer-->
    <header class="header">
        <nav class="nav nav--tours"><a class="nav__el" href="/">All News</a></nav>
        <div class="header__logo"><img src="./img/logo.png" alt="epharmacists logo" />
        </div>
        <nav class="nav nav--user">
        </nav>
    </header>
    <content class="main">
        <div class="user-view">
            <nav class="user-view__menu">
                <ul class="side-nav">
                    <li class="side-nav--active"><a href="#">Settings</a></li>

                    <div class="admin-nav">

                    </div>
                </ul>
            </nav>
            <div class="user-view__content">
                <div class="user-view__form-container">
                    <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                    <form class="form form-user-data">

                    </form>
                </div>
                <div class="line">&nbsp;</div>
                <div class="user-view__form-container">
                    <h2 class="heading-secondary ma-bt-md">Password change</h2>
                    <form class="form form-user-password">

                    </form>
                </div>
            </div>
        </div>

    </content>
    <footer class="footer">
        <div class="footer__logo"><img src="./img/logo.png" alt="epharmacist logo" />
            <p>Agile Software Management System</p>
        </div>
        <p class="footer__copyright">&copy; E-Pharmacist, Autumn Semester 2022!</p>
    </footer>
    <script type="module" src="./js/myprofile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  

</body>

</html>