/* headers */

.navbar{
    height: 90px;
}

.navbar-custom {
    background-color: #F8CBA6; 
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .fas {
    margin-right: 1rem;
    color: #000000 !important; 
}

.navbar-nav{
    margin-left: 12rem;
}

@media (max-width: 992px) {
    .navbar-nav {
        margin-left: 0;
    }
}

/* container */
.table{
    margin-top: 69px;
    background-color: #FFE7CC;
}

.table-bordered {
    border: 1px solid black;
}

/* button */
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: white;
    color: black;
}

body{
    background: #F5F5F5;
}

