/* for header */
body {
  background-color: #FFFBEB;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8CBA6;
    margin-bottom: 2%;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    padding: 15px;
    font-weight: 400;
    font-size: 18px;
    color: black;
    margin: 0 10px;
}
  .navbar-custom .navbar-nav {
        margin-left: 60%;
    }


.table-responsive{
    position: relative;
    left: 20%;
    font-size: 16px;
    width: 60%;
    align-items: center;
    /* border: 2px solid black; */
    background: #ecd1bb;

}

 